<%= form_with model: @post, class: "max-w-sm mx-auto" do |f| %>

  <h1>
    <%= @post.title %>
  </h1>

  <p>
    <%= @post.body %>
    <br>
    <time datetime="<%= @post.formatted_created_at %>">
      <%= @post.formatted_created_at %>
    </time>
  </p>

<% end %>
